.su-alert-body-link-light a:hover,
.su-alert-body-link-light a:focus {
  background: #6fc3ff;
  text-decoration: underline;
}

.su-alert-body-link-dark a:hover,
.su-alert-body-link-dark a:focus {
  background: #ffffff;
  color: #2e2d29;
  text-decoration: underline;
}

.su-alert-body-link-light a:focus {
  box-shadow: 0 0 2px #006cb8;
  border-radius: 2px;
}

.su-alert-body-link-dark a:focus {
  box-shadow: 0 0 0 2px #6fc3ff;
  border-radius: 3px;
}
