.ggeWidget .su-digital-name {
  @apply su-flex;
}

.ggeWidget .su-digital-name .ggeQuestion__label {
  @apply su-mr-5 su-p-0 su-type-1;
}

.ggeWidget .su-digital-name .ggeQuestion__field input[type="text"] {
  @apply hocus:su-border-none su-text-black-30 su-bg-transparent su-p-0 su-type-1 su-font-semibold su-text-white su--mt-2;
}

.ggeWidget .ggeContent .ggeQuestion:not(.su-email) {
  @apply su-p-0 su-mb-34 md:su-mb-45;
}

.ggeWidget .ggeContent .ggeQuestion.su-phone {
  @apply su-mb-[.7rem];
}

.ggeWidget .ggeContent .ggeQuestion:last-child {
  @apply su-pb-0 md:su-pb-0;
}

.ggeQuestion:not(.ggeQuestion--error):not(.ggeQuestion--instructions)
  .ggeQuestion__field {
  @apply su-flex su-flex-col-reverse;
}

.ggeWidget .ggeQuestion .ggeQuestion.ggeQuestion--error .ggeQuestion__field {
  @apply su-flex-col;
}

.ggeWidget.public-custom-journeys .ggeContent .ggeQuestion.ggeQuestion--instructions {
  @apply su-m-0 su-mt-7 su-mb-45;
}

.ggeWidget .ggeContent .ggeQuestion.ggeQuestion--instructions {
  @apply su-m-0 su-mt-7;
}

.ggeWidget .ggeQuestion--instructions .ggeQuestion__field {
  @apply su-text-15 md:su-text-18 su-text-black-30;
}

.ggeWidget .ggeQuestion--instructions a,
.ggeWidget .ggeQuestion__error a {
  @apply su-no-underline hocus:su-underline su-text-white hocus:su-decoration-digital-red-xlight su-font-regular su-underline-offset-[3px];
}

.ggeWidget .ggeQuestion--instructions a:after,
.ggeWidget .ggeQuestion__error a:after {
  content: "";
  mask: url("../assets/arrow-right.svg");
  -webkit-mask-size: contain;
  @apply su-inline-block su-bg-cover su-flex-shrink-0 su-w-[1.5rem] su-h-[1.5rem] su--rotate-45 su-bg-white su-ml-4 su-relative su-top-2 su-transition su-transform-gpu;
}

.ggeWidget .ggeQuestion--instructions a:hover:after,
.ggeWidget .ggeQuestion--instructions a:focus:after,
.ggeWidget .ggeQuestion__error a:hover:after,
.ggeWidget .ggeQuestion__error a:focus:after {
  @apply su-translate-x-02em su--translate-y-02em;
}

.ggeWidget .ggeQuestion--instructions h1 {
  @apply su-mt-0 su-font-semibold su-text-white;
}

.ggeWidget .ggeQuestion input[type="email"],
.ggeWidget .ggeQuestion input[type="number"],
.ggeWidget .ggeQuestion input[type="text"],
.ggeWidget .ggeQuestion select,
.ggeWidget .ggeQuestion textarea {
  @apply su-mt-11;
}

.ggeWidget .ggeQuestion input[type="email"],
.ggeWidget .ggeQuestion input[type="number"],
.ggeWidget .ggeQuestion input[type="text"],
.ggeWidget .ggeQuestion select,
.ggeWidget .ggeQuestion textarea {
  @apply su-leading-display su-p-20 su-max-w-full su-w-full su-text-[1.8rem] md:su-text-[2.1rem] su-border su-border-b-2 su-border-black-50 su-rounded-[3px] su-box-border;
  background: rgba(16, 15, 13, 0.5);
}

.ggeWidget .ggeQuestion--required .ggeAddress__street2 input[type="email"],
.ggeWidget .ggeQuestion--required .ggeAddress__street2 input[type="number"],
.ggeWidget .ggeQuestion--required .ggeAddress__street2 input[type="text"] {
  @apply su-border su-border-b-2 su-border-black-50;
}

.ggeWidget .ggeQuestion input[type="email"],
.ggeWidget .ggeQuestion input[type="number"],
.ggeWidget .ggeQuestion input[type="text"],
.ggeWidget .ggeQuestion textarea {
  @apply su-px-[21px] md:su-px-[19px] su-py-[20px];
}

.ggeWidget .ggeQuestion input[type="email"]:focus,
.ggeWidget .ggeQuestion input[type="number"]:focus,
.ggeWidget .ggeQuestion input[type="text"]:focus,
.ggeWidget .ggeQuestion textarea:focus {
  @apply su-border-2 su-border-transparent;
  border-image-source: linear-gradient(0deg, #017e7c 84.05%, #505eec 15.6%);
  border-image-slice: 1;
}

.ggeWidget .ggeQuestion .ggeQuestion__field textarea[readonly],
.ggeWidget .ggeQuestion input[type="email"][readonly],
.ggeWidget .ggeQuestion input[type="number"][readonly],
.ggeWidget .ggeQuestion input[type="text"][readonly] {
  @apply su-p-0 su-border-none su-text-24 su-text-black-30 hocus:su-shadow-none;
  background: transparent !important;
}

.ggeWidget .ggeQuestion .ggeQuestion__field textarea[readonly] {
  @apply su-min-h-[2.8rem];
}


.ggeWidget .ggeQuestion.su-email .ggeQuestion__field textarea {
  @apply su-h-[6.8rem] su-overflow-hidden su-min-h-[2.8rem];
}

.ggeWidget .ggeQuestion--required label,
.ggeWidget .ggeQuestion--required legend {
  @apply su-font-semibold;
}

.ggeWidget .ggeQuestion .ggeQuestion__field textarea {
  @apply su-min-h-[138px];
}

.ggeWidget .ggeQuestion.su-extension .ggeQuestion__field fieldset legend {
  @apply su-hidden;
}

.ggeWidget .ggeQuestion--error,
.ggeWidget .ggeQuestion__error,
.ggeWidget .ggePageNav--formError {
  @apply su-bg-transparent su-text-digital-red-xlight;
}

.ggeWidget .ggeQuestion .ggeQuestion__field select {
  @apply su-bg-no-repeat su-text-white su-leading-[2.4rem] md:su-leading-[2.7rem];
  background-position: right 22px center;
  background-image: url("../assets/arrow-down.svg");
  background-size: 21px;
}

.ggeWidget .ggeQuestion.ggeQuestion--error input[type="email"],
.ggeWidget .ggeQuestion.ggeQuestion--error input[type="number"],
.ggeWidget .ggeQuestion.ggeQuestion--error input[type="text"],
.ggeWidget .ggeQuestion.ggeQuestion--error select,
.ggeWidget .ggeQuestion.ggeQuestion--error textarea {
  @apply su-border su-border-digital-red-xlight;
}

.ggeTally {
  @apply su-border-2 su-border-transparent su-pt-[2.6rem] su-px-[2.6rem] su-pb-[4.5rem] su-mb-[7.2rem];
  border-image-source: linear-gradient(0deg, #017e7c 84.05%, #505eec 15.6%);
  border-image-slice: 1;
}

.ggeTally tr {
  @apply su-border-none;
}

.ggeTally .ggeTally--text,
.ggeTally .ggeTally--money {
  @apply su-pt-0 su-pb-[3.2rem];
}
.ggeTally--text {
  @apply su-border-b su-border-black-30;
}

.ggeTally .ggeTally--total {
  @apply su-pt-12 su-pb-0;
}

.ggeTally .ggeTally--money {
  @apply su-w-1/4;
}

.ggeWidget .ggeQuestion textarea {
  @apply md:su-pr-[25px];
}

.ggeWidget .ggePageNav {
  @apply su-flex su-justify-center su-mt-0 su-mx-auto su-my-0;
}

.ggePageSet .ggeHidden ~ .ggePage .ggePageNav {
  @apply su-justify-center;
}

.ggeWidget .ggePageNav--back {
  @apply su-static su-translate-y-0 su-mr-[2rem] lg:su-mr-[3.6rem];
}

.ggeWidget .ggeStripeBtn,
.ggeWidget .ggeButton {
  @apply su-flex su-leading-none su-inline-block su-w-fit su-no-underline su-underline-offset-[3px] su-font-regular hocus:su-underline su-px-20 su-py-10 md:su-px-26 md:su-py-14 su-text-21 md:su-text-23 su-capitalize su-mt-4 md:su-mt-45 hocus:su-shadow-md;
}

.ggeWidget .ggeStripeBtn,
.ggeWidget .ggeButton--forward {
  @apply su-border-solid su-border-2 su-pl-[3rem] su-transition-colors su-border-digital-red su-bg-digital-red su-text-white hocus:su-bg-cardinal-red hocus:su-text-white hocus:su-border-cardinal-red su-rounded-none;
}

.ggeWidget .ggeButton--back {
  @apply su-static su-border-2 su-pr-[3rem] su-border-solid su-translate-x-0 su-relative su-gradient-border su-border-to-rt-palo-verde-dark-to-saa-electric-blue su-text-saa-electric-blue hocus:su-text-white hocus:su-bg-gradient-to-tr hocus:su-from-palo-verde-dark hocus:su-to-saa-electric-blue hocus:su-shadow-md su-text-white;
}

.ggeWidget .ggeButton--forward::after,
.ggeWidget .ggeButton--back::before {
  content: "";
  mask: url("../assets/arrow-right.svg");
  -webkit-mask-size: contain;
  @apply su-inline-block su-bg-cover su-flex-shrink-0 su-w-[1em] su-h-[1em];
}

.ggeWidget .ggeButton--forward::after {
  @apply su-bg-current su-ml-8;
}

.ggeWidget .ggeButton--back::before {
  @apply su-bg-[#fff] su-rotate-180 su-mr-8;
}

.ggeWidget.labelsTop .ggeQuestion__label {
  @apply su-m-0 su-p-0;
}

.ggeWidget .ggeQuestion__label label,
.ggeWidget .ggeQuestion--instructions #Pre-TripExtensionQuestion,
.ggeWidget .ggeQuestion--instructions #Post-TripExtensionQuestion {
  @apply su-type-0;
}

.ggeWidget .ggeQuestion--required .ggeQuestion__label label,
.ggeWidget .ggeQuestion--instructions #Pre-TripExtensionQuestion,
.ggeWidget .ggeQuestion--instructions #Post-TripExtensionQuestion {
  @apply su-font-semibold;
}

.ggeWidget .ggeQuestion--instructions #Pre-TripExtensionQuestion,
.ggeWidget .ggeQuestion--instructions #Post-TripExtensionQuestion {
  @apply su-text-white;
}

.ggeWidget .ggeQuestion__caption,
.ggeWidget .ggeQuestion__error {
  @apply su-text-15 md:su-text-18;
}

.ggeWidget .ggeQuestion__caption {
  @apply su-mb-11;
}

.ggeWidget .ggeQuestion__error {
  @apply su-mt-11;
}

.ggeWidget .ggeTally--total {
  @apply su-border-0;
}

.ggeWidget .ggePrompt {
  @apply su-flex su-items-center su-mt-[1.1rem] su-mb-[2.6rem] last:su-mb-0;
}

.ggeWidget .ggePrompt .ggePrompt__radio {
  @apply su-relative su-mr-[1.2rem];
}

.ggeWidget .ggePrompt label {
  @apply su-w-auto su-p-0;
}

.ggeWidget .ggePrompt .ggePrompt__radio input {
  @apply su-flex su-w-[2.4rem] su-h-[2.4rem] su-ml-0 su-mb-0 su-rounded-full su-border-2 su-border-transparent;
  background: linear-gradient(222.67deg, #505eec 15.6%, #017e7c 84.05%)
    border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.ggeWidget .ggePrompt__other {
  @apply su-flex su-flex-col;
}

.ggeWidget .ggePrompt__other .ggePrompt:first-of-type {
  @apply su-m-0;
}

.ggeWidget .ggePrompt__other .ggePrompt input[type="text"] {
  @apply su-ml-[24px];
}

.ggeWidget .ggePrompt.ggePrompt--checked .ggePrompt__radio::after,
.ggeWidget .ggePrompt__other.ggePrompt--checked .ggePrompt:first-of-type .ggePrompt__radio::after {
  @apply su-absolute su-top-1/2 su-left-1/2 su-flex su-w-[1.2rem] su-h-[1.2rem] su--translate-y-1/2 su--translate-x-1/2 su-rounded-full;
  content: "";
  background: linear-gradient(222.67deg, #505eec 15.6%, #017e7c 84.05%);
}

.ggePrompt__radio:hover::before {
  content: "";
  @apply su-absolute su-inset-[-.6rem] su-rounded-full su-bg-saa-electric-blue-light/[.4];
}

.ggeWidget .ggePrompt.ggePrompt--checked .ggePrompt__radio:hover::before,
.ggeWidget .ggePrompt__other.ggePrompt--checked .ggePrompt:first-of-type .ggePrompt__radio::before {
  background: linear-gradient(222.67deg, #505eec 15.6%, #017e7c 84.05%);
  opacity: 0.4;
}

/* Email Other Type */
.ggeWidget .ggeQuestion.su-email-type .ggePrompt__label label {
  @apply su-capitalize;
}

.form-gradient {
  @apply su-border-2 su-border-solid;
  background: linear-gradient(
    140.61deg,
    rgba(24, 29, 28, 0.64) 0%,
    rgba(24, 29, 28, 0.4) 110.98%
  );
  border-image-source: linear-gradient(
    140.61deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0) 53.2%,
    rgba(255, 255, 255, 0.5) 109.83%
  );
}

.ggeWidget .ggeContent .ggeQuestion.su-phone,
.ggeWidget .ggeContent .ggeQuestion.su-email,
.ggeWidget .ggeContent .ggeQuestion.su-email textarea {
  @apply su-text-black-30;
}

.ggeQuestion[data-name="DigitalName"] {
  @apply su-flex su-items-baseline;
}
.ggeQuestion[data-name="DigitalName"] .ggeQuestion__label {
  @apply su-text-[2.6rem] su-p-0 su-mr-[.7rem];
}

.ggeQuestion[data-name="DigitalName"] .ggeQuestion__field input {
  @apply su-text-[2.6rem] su-font-semibold;
}

.ggeWidget .ggeQuestion[data-name="DigitalName"] input[readonly] {
  @apply su-text-white;
}

.public-additional-payment .ggeSection--profile header {
  display: none;
}

.public-additional-payment .ggeQuestion.su-reservation-id {
  @apply su-mt-45;
}

.ggeWidget .ggeQuestion.ggeQuestion--mobilepayment #ggeNoMobileLabel {
  @apply su-lowercase;
}

.ggeWidget .ggeQuestion.ggeQuestion--mobilepayment #ggeNoMobileLabel::first-letter {
  @apply su-capitalize;
}

/* Hide spacer when Saved Card is present */
.ggeWidget .ggeQuestion.ggeQuestion--mobilepayment .ggeStripeButton #ggeMobileContainerEntrySpacer {
  @apply su-hidden
}

.ggeWidget .ggeQuestion.ggeQuestion--mobilepayment .ggeStripeButton .ggeMobilePay {
  @apply su-flex su-leading-none su-inline-block su-w-fit su-no-underline su-underline-offset-[3px] su-font-regular hocus:su-underline su-px-20 su-py-10 md:su-px-26 md:su-py-14 su-text-21 md:su-text-23 su-capitalize su-mt-4 md:su-mt-45 hocus:su-shadow-md su-border-solid su-border-2 su-pl-[3rem] su-transition-colors su-border-digital-red su-bg-digital-red su-text-white hocus:su-bg-cardinal-red hocus:su-text-white hocus:su-border-cardinal-red su-rounded-none;
}

.ggeWidget .ggeQuestion.ggeQuestion--mobilepayment #ggeMobileManualEntryInner {
  @apply !su-bg-transparent;
}

.ggeAddress__state,
.ggeAddress__zipcode,
.ggePayment--credit {
  @apply su-float-left;
  width: calc(50% - 10px);
}

/* If not US */
.ggeAddress__zipcode + .ggeAddress__city {
  @apply su-float-left su-ml-[2rem];
  width: calc(50% - 10px);
}

.ggeAddress__state,
.ggePayment--credit--account,
.ggePayment--credit--monthExpires {
  @apply su-clear-left su-mr-[2rem];
}

/* Confirmation page */
.ggeConfirmation {
  text-align: center;
  background-image: url("data:image/svg+xml,%3Csvg width='83' height='82' viewBox='0 0 83 82' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29 41L37.3333 49.3333L54 32.6667M79 41C79 61.7107 62.2107 78.5 41.5 78.5C20.7893 78.5 4 61.7107 4 41C4 20.2893 20.7893 3.5 41.5 3.5C62.2107 3.5 79 20.2893 79 41Z' stroke='url(%23paint0_linear_8432_1220)' stroke-width='7' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_8432_1220' x1='68.1667' y1='16' x2='19' y2='69.3333' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23505EEC'/%3E%3Cstop offset='1' stop-color='%23017E7C'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 75px 75px;
  background-position: center 0;
}

.ggeConfirmation .ggeConfirmationCode,
.ggeConfirmation .ggeConfirmationCharge {
  @apply su-hidden;
}

.ggeConfirmation .ggeConfirmationMessage {
  @apply su-text-25 lg:su-text-[2.9rem];
}

.ggeConfirmation .ggeConfirmationMessage > div:first-child {
  @apply su-pb-26;
}

.ggeConfirmation .ggeConfirmationMessage p {
  @apply su-leading-cozy lg:su-leading;
}

.ggeConfirmation h1 {
  @apply su-text-[3rem] lg:su-text-[5.1rem] su-font-bold su-font-serif su-pt-[11.9rem] lg:su-pt-[12.5rem] su-mb-[3rem] lg:su-mb-[3.6rem];
}

.ggeConfirmation .ggeButton {
  @apply su-m-auto lg:su-text-[2.4rem] su-normal-case;
}

.ggeConfirmation .ggeTally--header {
  @apply su-text-white su-pt-0 su-px-0 su-pb-[3.2rem] lg:su-pb-[4.5rem] su-border-0 su-text-22 lg:su-text-[2.6rem];
}

.ggeConfirmation .ggeTallyTable thead + tbody {
  @apply su-border-0;
}

.ggeConfirmation .ggeTally {
  @apply su-text-left su-mb-0;
}

.ggeConfirmation .ggeConfirmationMessage > .ggeTally ~ div {
  @apply su-p-0;
}

/* Registration form specific  */
.ggeRegistrant[data-registrantid="1"] .ggePageNav__btn--discardRegistrant,
.ggeWidget .ggeTally tr:first-of-type .ggeTally__multireg__button.ggeTally__multireg__button--delete {
  @apply su-hidden;
}

.ggeRegistrantList,
.ggeWidget .ggeSection--askArray.ggeSection--registration,
.ggePage--payment .ggePageNav--back {
  @apply su-hidden;
}

.ggeWidget .ggeSection--askArray.ggeSection--registration > div{
  @apply su-p-0 su-m-0;
}

.ggeWidget #AddatravelerHeader {
  @apply su-mt-45;
}

.ggeWidget.ggeWidget--highlightIncomplete
  .ggeRegistrant--prefilled
  .ggeQuestion--incomplete {
  @apply su-bg-transparent;
}

.ggeWidget .ggeQuestion.ggeQuestion--error .ggeQuestion__field select {
  @apply su-text-digital-red-xlight;
}

.ggeWidget .ggePageNav--forward {
  @apply su-flex su-gap-x-[3rem] lg:su-gap-x-[7rem];
}

.ggeWidget .ggeButton.ggeButton--discardRegistrant {
  @apply su-bg-transparent su-text-white su-border-0 su-bg-no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.07784 7.75026L13.916 2.95543C14.384 2.49176 14.3873 1.73776 13.9236 1.26976C13.4599 0.801762 12.7059 0.799596 12.2379 1.26218L7.38459 6.07218L2.53234 1.26218C2.06543 0.799596 1.31034 0.803929 0.846678 1.27085C0.383012 1.73776 0.386262 2.49176 0.854262 2.95543L5.69134 7.75026L0.853178 12.5451C0.385178 13.0088 0.381928 13.7628 0.845595 14.2308C1.07851 14.4658 1.38509 14.5828 1.69168 14.5828C1.99501 14.5828 2.29834 14.4691 2.53018 14.2383L7.38459 9.42835L12.2368 14.2383C12.4698 14.4691 12.772 14.5828 13.0753 14.5828C13.3819 14.5828 13.6885 14.4658 13.9214 14.2308C14.3851 13.7628 14.3818 13.0088 13.9138 12.5451L9.07784 7.75026Z' fill='%23505EEC'/%3E%3C/svg%3E%0A");
  background-position: right center;
}

.ggeWidget .ggeButton.ggeButton--tallyEditRegistrant {
  @apply su-mt-0 su-p-0 su-text-21 su-font-semibold su-text-black-10;
}
.ggeWidget .ggeButton.ggeButton--tallyEditRegistrant::after {
  content: "Edit";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' viewBox='0 0 13 13' fill='none'%3E%3Cpath d='M11.6673 1.33265L12.1976 0.802316V0.802316L11.6673 1.33265ZM3.0625 12.1472L3.0625 12.8972C3.26141 12.8972 3.45218 12.8182 3.59283 12.6775L3.0625 12.1472ZM0.875 12.1472H0.125C0.125 12.5614 0.460786 12.8972 0.875 12.8972L0.875 12.1472ZM0.875 9.91526L0.34467 9.38493C0.204018 9.52558 0.125 9.71634 0.125 9.91526H0.875ZM9.98794 1.86298C10.3052 1.54567 10.8197 1.54567 11.137 1.86298L12.1976 0.802316C11.2946 -0.100772 9.83037 -0.100772 8.92728 0.802316L9.98794 1.86298ZM11.137 1.86298C11.4543 2.18028 11.4543 2.69472 11.137 3.01202L12.1976 4.07268C13.1007 3.1696 13.1007 1.7054 12.1976 0.802316L11.137 1.86298ZM11.137 3.01202L2.53217 11.6168L3.59283 12.6775L12.1976 4.07268L11.137 3.01202ZM3.0625 11.3972H0.875L0.875 12.8972H3.0625L3.0625 11.3972ZM8.92728 0.802316L0.34467 9.38493L1.40533 10.4456L9.98794 1.86298L8.92728 0.802316ZM0.125 9.91526L0.125 12.1472H1.625L1.625 9.91526H0.125ZM7.98978 2.80048L10.1995 5.01018L11.2601 3.94952L9.05044 1.73982L7.98978 2.80048Z' fill='%23505EEC'/%3E%3C/svg%3E");
  background-position: left 15px center;
  @apply su-ml-[1rem] su-pl-[3.8rem] su-text-[1.8rem] su-text-white su-border-l su-border-l-black su-bg-no-repeat;
}

.ggeWidget .ggeTally__multireg__buttons {
  @apply su-relative su-flex su-flex-col-reverse;
}

.ggeWidget .ggeTally__multireg__button.ggeTally__multireg__button--delete {
  @apply su-relative su-h-30;
}

.ggeWidget .ggeButton.ggeButton--tallyDeleteRegistrant {
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.64321 6.88535L13.5183 2.05397C13.9898 1.58677 13.9931 0.827025 13.5259 0.355458C13.0587 -0.116108 12.2989 -0.118291 11.8274 0.347817L6.93706 5.19447L2.04783 0.347817C1.57736 -0.118291 0.816521 -0.113925 0.34932 0.35655C-0.11788 0.827025 -0.114605 1.58677 0.356961 2.05397L5.23091 6.88535L0.35587 11.7167C-0.115697 12.1839 -0.118971 12.9437 0.348229 13.4152C0.582921 13.6521 0.89184 13.77 1.20076 13.77C1.5064 13.77 1.81205 13.6554 2.04565 13.4229L6.93706 8.57622L11.8263 13.4229C12.061 13.6554 12.3655 13.77 12.6712 13.77C12.9801 13.77 13.289 13.6521 13.5237 13.4152C13.9909 12.9437 13.9876 12.1839 13.5161 11.7167L8.64321 6.88535Z' fill='%23F83535'/%3E%3C/svg%3E");
  @apply su-h-full su-font-semibold su-text-18 su-mt-0 su-absolute su-top-1 su-left-1 su-items-center su-bottom-[-6.5rem] su-py-0 su-pr-0 su-pl-[1.6rem] su-text-transparent su-bg-transparent su-border-0 su-bg-no-repeat;
  background-position: left center;
}

.ggeWidget .ggeButton.ggeButton--tallyDeleteRegistrant:focus::after,
.ggeWidget .ggeButton.ggeButton--tallyDeleteRegistrant:hover::after {
  text-decoration-line: underline;
  @apply su-text-white su-shadow-none;
}

.ggeWidget .ggeButton.ggeButton--tallyEditRegistrant:focus,
.ggeWidget .ggeButton.ggeButton--tallyEditRegistrant:hover {
  text-decoration-line: none;
  @apply su-shadow-none;
}

.ggeWidget .ggeButton.ggeButton--tallyDeleteRegistrant::after {
  content: "Remove";
  @apply su-text-white;
}

.ggeWidget .ggeButton.ggeButton--tallyEditRegistrant:focus::after,
.ggeWidget .ggeButton.ggeButton--tallyEditRegistrant:hover::after {
  text-decoration-line: underline;
  @apply su-shadow-none;
}

.ggeTally table td {
  @apply su-p-0;
}

.ggeWidget .ggeTally--text {
  @apply su-text-19;
}

.ggeWidget .ggeTally--money {
  @apply su-text-21;
}

.ggeWidget td.ggeTally--text,
.ggeWidget td.ggeTally--money:not(.ggeTally--total) {
  @apply su-pt-0 su-pb-14 su-border-b su-border-b-black;
}

.ggeWidget .ggeTally--total {
  @apply su-text-[2.6rem] su-font-semibold su-pt-[3rem];
}

.ggeWidget td.ggeTally--text,
.ggeWidget .ggeTally--terms {
  @apply su-pt-[1.4rem];
}

.ggeWidget.public-registration .ggeContent .ggeQuestion.su-phone,
.ggeWidget.public-registration .ggeContent .ggeQuestion.su-email {
  @apply su-text-black-30 su-mb-34 md:su-mb-45;
}

.ggeWidget .ggePage--payment .ggeQuestion.ggeQuestion--mobilepayment,
.ggeWidget .ggePage--payment .ggeQuestion.ggeQuestion--mobilepayment > div {
  @apply su-mb-0;
}

.ggePage--payment .ggeQuestion.ggeQuestion--instructions #TripAgreements {
  @apply su-mb-12;
}

.ggeWidget .ggeButton--addRegistrant {
  @apply su-bg-transparent su-text-white su-border-0 su-px-0 su-pr-0 su-pl-[2.7rem] su-big-paragraph su-bg-no-repeat;
  background-position: left center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='20' viewBox='0 0 21 20' fill='none'%3E%3Cpath d='M10.5 7V10M10.5 10V13M10.5 10H13.5M10.5 10H7.5M19.5 10C19.5 14.9706 15.4706 19 10.5 19C5.52944 19 1.5 14.9706 1.5 10C1.5 5.02944 5.52944 1 10.5 1C15.4706 1 19.5 5.02944 19.5 10Z' stroke='%23F83535' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.ggeWidget .ggeStripeContainer__upperHr,
.ggeWidget .ggeStripeContainer__lowerHr__outer,
.ggeWidget .ggeStripeContainer__lowerHr__outer .ggeStripeContainer__lowerHr__inner {
  @apply su-bg-transparent;
}