/* GG Trip Form Styles */

/* SU colors */
:root {
  --su-digital-red-xlight: #e50808;
  --su-digital-red: #B1040E;
  --su-black: #2e2d29;
  --su-black-70: #6D6C69;
  --su-black-50: #979694; 
  --su-black-30: #C0C0BF;
  --su-black-20: #D5D5D4;
  --su-palo-verde-dark: #017e7c;
  --su-electric-blue: #505EEC;
  --su-white: #ffffff;
}

/* GG Trip Autocomplete */
.gg-autocomplete-wrapper .autoComplete_wrapper > ul {
  position: absolute;
  max-height: 226px;
  overflow-y: scroll;
  box-sizing: border-box;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
  list-style: none;
  border-radius: 0.6rem;
  background-color: var(--su-white);
  border: 1px solid var(--su-black-20);
  box-shadow: 0 3px 6px rgba(149, 157, 165, 0.15);
  outline: none;
  transition: opacity 0.15s ease-in-out;
  -moz-transition: opacity 0.15s ease-in-out;
  -webkit-transition: opacity 0.15s ease-in-out;
  width: fit-content;
}

.gg-autocomplete-wrapper .autoComplete_wrapper > ul[hidden],
.gg-autocomplete-wrapper .autoComplete_wrapper > ul:empty {
  display: block;
  opacity: 0;
  transform: scale(0);
}

.gg-autocomplete-wrapper .autoComplete_wrapper > ul > li {
  margin: 0.3rem;
  padding: 0.3rem 0.5rem;
  text-align: left;
  font-size: 2.1rem;
  color: #212121;
  border-radius: 0.35rem;
  background-color: var(--su-white);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.2s ease;
}

.gg-autocomplete-wrapper .autoComplete_wrapper > ul > li mark {
  background-color: transparent;
  color: rgba(255, 122, 122, 1);
  font-weight: bold;
}

.gg-autocomplete-wrapper .autoComplete_wrapper > ul > li:hover {
  cursor: pointer;
  background-color: var(--su-black-20);
}

.gg-autocomplete-wrapper .autoComplete_wrapper > ul > li[aria-selected="true"] {
  background-color: var(--su-black-20);
}

@media only screen and (max-width: 600px) {
  .gg-autocomplete-wrapper .autoComplete_wrapper > input {
    width: 18rem;
  }
}

/* Trip Form Styling */
.gg-form-sidebar {
  margin-top: 58px;
}

.gg-form-sidebar h2 {
  font-weight: 600;
  font-size: 3.3rem;
  padding: 0;
}

.gg-form-sidebar a {
  font-size: 2.1rem;
}

.gg-form-sidebar .summary-item {
  display: flex;
  flex-direction: column;
  line-height: 2.7rem;
  margin-bottom: 7.2rem;
  padding-bottom: 1.9rem;
  border-bottom: 1px solid #585754;
}

.gg-form-sidebar .summary-item:last-child {
  border-bottom: none;
}

.gg-form-sidebar .summary-item h3 {
  font-weight: 600;
  font-size: 2.1rem;
  margin-bottom: 2.7rem;
}

.gg-form-sidebar .summary-item p {
  margin: 0;
}

.gg-form-main .gg-script-wrapper {
  padding: 58px 87px 90px;
  background: var(--su-white);
  border: 1px solid var(--su-black-20);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

/*  GG Form */
.ggeWidget .ggeContent .ggeQuestion {
  margin-bottom: 45px;
  padding: 0;
}

.ggeWidget .ggeContent .ggeQuestion.su-phone {
  margin-bottom: 0.7rem;
}

.ggeWidget .ggeContent .ggeQuestion:last-child {
  padding-bottom: 0;
}

.ggeQuestion:not(.ggeQuestion--error):not(.ggeQuestion--instructions) .ggeQuestion__field {
  display: flex;
  flex-direction: column-reverse;
}

.ggeWidget .ggeQuestion .ggeQuestion.ggeQuestion--error .ggeQuestion__field {
  flex-direction: column;
}

.ggeWidget .ggeQuestion--instructions .ggeQuestion__field {
  font-size: 18px;
  color: var(--su-black);
}

.ggeWidget .ggeQuestion--instructions a,
.ggeWidget .ggeQuestion__error a {
  font-size: 18px;
  text-decoration: none;
  text-underline-offset: auto;
}
.ggeWidget .ggeQuestion--instructions a:focus,
.ggeWidget .ggeQuestion__error a:focus, 
.ggeWidget .ggeQuestion--instructions a:hover ,
.ggeWidget .ggeQuestion__error a:hover {
  text-decoration: underline;
}

.ggeWidget .ggeSection header h1,
.ggeWidget .ggeQuestion--instructions h1 {
  margin-top: 0;
  font-weight: 600;
  font-size: 3.5rem;
  color: var(--su-black);
}

.ggeWidget .ggeQuestion input[type="email"],
.ggeWidget .ggeQuestion input[type="number"],
.ggeWidget .ggeQuestion input[type="text"],
.ggeWidget .ggeQuestion select,
.ggeWidget .ggeQuestion textarea {
  background: var(--su-white);
  padding-left: 21px;
  border: 1px solid var(--su-black-20);
  border-bottom: 2px solid var(--su-black-20);
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 1.8rem;
}

.ggeWidget .ggeQuestion--required .ggeAddress__street2 input[type="email"],
.ggeWidget .ggeQuestion--required .ggeAddress__street2 input[type="number"],
.ggeWidget .ggeQuestion--required .ggeAddress__street2 input[type="text"] {
  border: 1px solid var(--su-black-50);
  border-bottom: 2px solid var(--su-black-50);
}

.ggeWidget .ggeQuestion input[type="email"],
.ggeWidget .ggeQuestion input[type="number"],
.ggeWidget .ggeQuestion input[type="text"],
.ggeWidget .ggeQuestion textarea {
  padding: 20px 21px;
}

.ggeWidget .ggeQuestion input[type="email"]:focus,
.ggeWidget .ggeQuestion input[type="number"]:focus,
.ggeWidget .ggeQuestion input[type="text"]:focus,
.ggeWidget .ggeQuestion textarea:focus {
  background: var(--su-white);
  box-shadow: 0 0 3px var(--su-black-70), 0 0 7px var(--su-black-70);
}

.ggeWidget .ggeQuestion input[type="email"][readonly],
.ggeWidget .ggeQuestion input[type="number"][readonly],
.ggeWidget .ggeQuestion input[type="text"][readonly] {
  padding: 0;
  border: none;
  font-size: 24px;
  background: transparent !important;
}

.ggeWidget .ggeQuestion input[type="email"][readonly]:focus,
.ggeWidget .ggeQuestion input[type="number"][readonly]:focus,
.ggeWidget .ggeQuestion input[type="text"][readonly]:focus,
.ggeWidget .ggeQuestion input[type="email"][readonly]:hover,
.ggeWidget .ggeQuestion input[type="number"][readonly]:hover,
.ggeWidget .ggeQuestion input[type="text"][readonly]:hover {
  box-shadow: none;
  margin: 0;
}

.ggeWidget .ggeQuestion .ggeQuestion__field textarea {
  min-height: 138px;
}

.ggeWidget .ggeQuestion--error,
.ggeWidget .ggeQuestion__error,
.ggeWidget .ggePageNav--formError {
  background: transparent;
  color: var(--su-digital-red-xlight);
}

.ggeWidget .ggeQuestion .ggeQuestion__field select {
  background-position: right 22px center;
  background-image: url("./assets/arrow-down.svg");
  background-size: 21px;
  color: var(--su-black);
  line-height: 2.4rem;
  background-repeat: no-repeat;
}

.ggeWidget .ggeQuestion.ggeQuestion--error input[type="email"],
.ggeWidget .ggeQuestion.ggeQuestion--error input[type="number"],
.ggeWidget .ggeQuestion.ggeQuestion--error input[type="text"],
.ggeWidget .ggeQuestion.ggeQuestion--error select {
  border: 1px solid var(--su-digital-red-xlight);
}

.ggeTally {
  border: 0 solid;
  border-color: transparent;
  border-image-slice: 1;
  border-image-source: linear-gradient(0deg,var(--su-palo-verde-dark) 84.05%,var(--su-electric-blue) 0);
  border-width: 2px;
  margin-bottom: 7.2rem;
  padding: 2.6rem 2.6rem 4.5rem;
}

.ggeTally table {
  margin: 0;
}

.ggeTally tr {
  border: none;
}

.ggeTally .ggeTally--text,
.ggeTally .ggeTally--money {
  padding-top: 0;
  padding-bottom: 3.2rem;
  border-bottom: 1px solid var(--su-black-30);
}

.ggeTally .ggeTally--money:last-child {
  padding: 0;
  border-bottom: unset;
}

.ggeTally .ggeTally--total {
  padding-top: 12px;
  padding-bottom: 0;
}

.ggeTally .ggeTally--money {
  width: 25%;
}

.ggeWidget .ggeQuestion textarea {
  padding-right: 25px;
}

.ggeWidget .ggePageNav {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.ggePageSet .ggeHidden ~ .ggePage .ggePageNav {
  justify-content: center;
}

.ggeWidget .ggePageNav--back {
  position: static;
  transform: translateY(0px);
  margin-right: 2rem;
}

.ggeWidget .ggeButton {
  display: flex;
  width: fit-content;
  text-decoration: none;
  font-size: 23px;
  text-transform: none;
  padding: 1.4rem 2.6rem;
  font-weight: 400;
}

/* Solid Button */
.ggeWidget .ggeButton--addRegistrant {
  background: var(--su-digital-red);
  border: 2px solid var(--su-digital-red);
  border-radius: unset;
  color: var(--su-white);
  position: relative;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  margin-top: 6.2rem;
}

.ggeWidget .ggeButton--forward {
  align-items: center;
  background: var(--su-digital-red);
  border: 2px solid var(--su-digital-red);
  border-radius: unset;
  color: var(--su-white);
  position: static;
  position: relative;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  padding-left: 3rem;
  margin-top: 45px;
}

.ggeWidget .ggeButton--addRegistrant:focus,
.ggeWidget .ggeButton--addRegistrant:hover,
.ggeWidget .ggeButton--forward:focus,
.ggeWidget .ggeButton--forward:hover {
  align-items: center;
  background: var(--su-digital-red);
  border: 2px solid var(--su-digital-red);
  border-radius: unset;
  color: var(--su-white);
  text-decoration: underline;
}

/* Secondary Button */
.ggeWidget .ggeButton--back {
  align-items: center;
  background: transparent;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right top,var(--su-palo-verde-dark),var(--su-electric-blue));
  border-style: solid;
  border-width: 2px;
  border-radius: unset;
  color: var(--su-electric-blue);
  position: static;
  padding-right: 3rem;
  position: relative;
  position: static;
  transform: translateX(0px);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  margin-top: 45px;
}

.ggeWidget .ggeButton--back:focus,
.ggeWidget .ggeButton--back:hover {
  align-items: center;
  background-image: linear-gradient(to right top, rgb(1, 126, 124), rgb(80, 94, 236));
  color: var(--su-white);
  text-decoration: underline;
}

/* Button Action Icon */
.ggeWidget .ggeButton--forward::after,
.ggeWidget .ggeButton--back::before {
  width: 1em;
  height: 1em;
  content: "";
  display: inline-block;
  mask: url("./assets/arrow-right.svg");
  -webkit-mask: url("./assets/arrow-right.svg") no-repeat 50% 50%;
  mask-size: cover;
  -webkit-mask-size: cover;
}

.ggeWidget .ggeButton--forward::after {
  background: var(--su-white);
  margin-left: 8px;
}

.ggeWidget .ggeButton--back::before {
  background: var(--su-electric-blue);
  transform: rotate(180deg);
  margin-right: 8px;
}

.ggeWidget .ggeButton--back:focus::before,
.ggeWidget .ggeButton--back:hover::before {
  background: var(--su-white);
}

/* Tally Table */

/* Traveler Name button */
.ggeWidget .ggeButton.ggeButton--tallyEditRegistrant {
  padding: 0;
  border: unset;
  text-decoration: underline;
  color: var(--su-digital-red-xlight);
}

.ggeWidget .ggeButton.ggeButton--tallyEditRegistrant:hover,
.ggeWidget .ggeButton.ggeButton--tallyEditRegistrant:focus {
  background: transparent;
  color: var(--su-black);
  text-decoration: underline;
}

.ggeWidget .ggeTally--total {
  border-top: 1px solid var(--su-black-30);
}

.ggeWidget .ggePrompt {
  display: flex;
  align-items: center;
  margin-top: 1.1rem;
  margin-bottom: 2.6rem;
}

.ggeWidget .ggePrompt:last-child {
  margin-bottom: 0;
}

/* Label */
.ggeWidget .ggePrompt label {
  padding: 0;
  width: auto;
  margin-top: 0;
}

.ggeWidget .ggeQuestion label, 
.ggeWidget .ggeQuestion legend,
.ggeWidget .ggeQuestion__field label, 
.ggeWidget .ggeQuestion__field legend,
.ggeWidget .ggeQuestion--required label,
.ggeWidget .ggeQuestion--required legend {
  font-weight: 400;
  font-size: 2.1rem;
}

/* Caption and Error message */
.ggeWidget .ggeQuestion__caption,
.ggeWidget .ggeQuestion__error {
  font-size: 1.8rem;
}

.ggeWidget .ggePrompt .ggeQuestion__caption,
.ggeWidget .ggePrompt .ggeQuestion__error {
  margin: 11px 0 0;
}

/* Radio */
[type=checkbox],
[type=radio] {
  clip: unset;
  -webkit-clip-path: inset(100%);
  clip-path: unset;
  height: inherit;
  overflow: hidden;
  padding: 0;
  position: unset;
  white-space: nowrap;
  width: inherit;
}

[type=radio] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.ggeWidget .ggePrompt .ggePrompt__radio {
  margin-right: 1.2rem;
  position: relative;
  display: block;
}

.ggeWidget .ggePrompt .ggePrompt__radio input {
  background: linear-gradient(222.67deg,var(--su-electric-blue) 15.6%,var(--su-palo-verde-dark) 84.05%) border-box;
  border: 2px solid transparent;
  border-radius: 50%;
  -webkit-mask: linear-gradient(var(--su-white) 0 0) padding-box,linear-gradient(var(--su-white) 0 0);
  -webkit-mask-composite: xor;
  display: flex;
  height: 2.4rem;
  margin: 0;
  width: 2.4rem;
}

.ggeWidget .ggePrompt--checked .ggePrompt__radio:after {
  background: linear-gradient(222.67deg,var(--su-electric-blue) 15.6%,var(--su-palo-verde-dark) 84.05%);
  border-radius: 50%;
  content: "";
  display: flex;
  height: 1.2rem;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 1.2rem;
  transform: translate(-50%, -50%);
}

/* Phone and Email text */
.ggeWidget .ggeContent .ggeQuestion.su-phone,
.ggeWidget .ggeContent .ggeQuestion.su-email {
  margin-bottom: 0;
}
