/* GG Trip Form Styles */

/* SU colors */
:root {
  --su-digital-red-xlight: #e50808;
  --su-digital-red: #b1040e;
  --su-black: #2e2d29;
  --su-black-70: #6d6c69;
  --su-black-50: #979694;
  --su-black-30: #c0c0bf;
  --su-black-20: #d5d5d4;
  --su-palo-verde-dark: #017e7c;
  --su-electric-blue: #505eec;
  --su-electric-blue-light: #6B77F5;
  --su-digital-blue: #006cb8;
  --su-white: #ffffff;
}

.gg-staff-name {
  font-weight: 600;
  font-size: 2.1rem;
  margin-bottom: 0;
}

/* GG Trip Autocomplete */
.gg-autocomplete {
  background: var(--su-white);
  padding-left: 21px;
  border: 1px solid var(--su-black-20);
  border-bottom: 2px solid var(--su-black-20);
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 2.1rem;
  height: 6.4rem;
  font-family: 'Source Sans Pro', sans-serif;
}

.gg-autocomplete-wrapper label {
  font-size: 2.1rem;
  margin-bottom: 0.33em;
  font-weight: 600;
}

.gg-form-autocomplete h2 {
  font-weight: 600;
}

.gg-autocomplete-wrapper {
  position: relative;
}

.gg-autocomplete-wrapper .autoComplete_wrapper > ul {
  position: absolute;
  max-height: 226px;
  overflow-y: scroll;
  box-sizing: border-box;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
  list-style: none;
  border-radius: 0.6rem;
  background-color: var(--su-white);
  border: 1px solid var(--su-black-20);
  box-shadow: 0 3px 6px rgba(149, 157, 165, 0.15);
  outline: none;
  transition: opacity 0.15s ease-in-out;
  -moz-transition: opacity 0.15s ease-in-out;
  -webkit-transition: opacity 0.15s ease-in-out;
  width: fit-content;
}

.gg-autocomplete-wrapper .autoComplete_wrapper > ul[hidden],
.gg-autocomplete-wrapper .autoComplete_wrapper > ul:empty {
  display: block;
  opacity: 0;
  transform: scale(0);
}

.gg-autocomplete-wrapper .autoComplete_wrapper > ul > li {
  margin: 0.3rem;
  padding: 0.3rem 0.5rem;
  text-align: left;
  font-size: 2.1rem;
  color: #212121;
  border-radius: 0.35rem;
  background-color: var(--su-white);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.2s ease;
}

.gg-autocomplete-wrapper .autoComplete_wrapper > ul > li mark {
  background-color: transparent;
  color: rgba(255, 122, 122, 1);
  font-weight: bold;
}

.gg-autocomplete-wrapper .autoComplete_wrapper > ul > li:hover {
  cursor: pointer;
  background-color: var(--su-black-20);
}

.gg-autocomplete-wrapper .autoComplete_wrapper > ul > li[aria-selected="true"] {
  background-color: var(--su-black-20);
}

@media only screen and (max-width: 600px) {
  .gg-autocomplete-wrapper .autoComplete_wrapper > input {
    width: 18rem;
  }
}

/* Trip Form Styling */
.gg-form-autocomplete,
.gg-form-main .gg-script-wrapper {
  font-family: "Source Sans Pro";
  padding: 5.8rem 8.7rem 9rem;
  background: var(--su-white);
  border: 1px solid var(--su-black-20);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.gg-form-sidebar {
  margin-top: 58px;
}

.gg-form-sidebar h2 {
  font-weight: 600;
  font-size: 3.3rem;
  padding: 0;
}

.gg-form-sidebar a {
  font-size: 2.1rem;
}

.gg-form-sidebar .summary-item {
  display: flex;
  flex-direction: column;
  line-height: 2.7rem;
  margin-bottom: 7.2rem;
  padding-bottom: 1.9rem;
  border-bottom: 1px solid #585754;
}

.gg-form-sidebar .summary-item:last-child {
  border-bottom: none;
}

.gg-form-sidebar .summary-item h3 {
  font-weight: 600;
  font-size: 2.1rem;
  margin-bottom: 2.7rem;
}

.gg-form-sidebar .summary-item p {
  margin: 0;
}

/*  GG Form */
.ggeWidget .ggeContent .ggeQuestion {
  margin-bottom: 4.5rem;
  padding: 0;
}

.ggeWidget .ggeContent .ggeQuestion.su-phone {
  margin-bottom: 0.7rem;
}

.ggeWidget .ggeContent .ggeQuestion:last-child {
  padding-bottom: 0;
}

.ggeQuestion:not(.ggeQuestion--error):not(.ggeQuestion--instructions)
  .ggeQuestion__field {
  display: flex;
  flex-direction: column-reverse;
}

.ggeWidget .ggeQuestion .ggeQuestion.ggeQuestion--error .ggeQuestion__field {
  flex-direction: column;
}

.ggeWidget .ggeContent .ggeQuestion.ggeQuestion--instructions {
  margin: 0;
  margin-top: 0.7rem;
}

.ggeWidget .ggeQuestion--instructions .ggeQuestion__field {
  font-size: 18px;
  color: var(--su-black);
}

.ggeWidget .ggeQuestion--instructions a,
.ggeWidget .ggeQuestion__error a {
  font-size: 18px;
  text-decoration: none;
  text-underline-offset: auto;
}
.ggeWidget .ggeQuestion--instructions a:focus,
.ggeWidget .ggeQuestion__error a:focus,
.ggeWidget .ggeQuestion--instructions a:hover,
.ggeWidget .ggeQuestion__error a:hover {
  text-decoration: underline;
}

.ggeWidget .ggeSection header h1,
.ggeWidget .ggeQuestion--instructions h1 {
  margin-top: 0;
  font-weight: 600;
  font-size: 3.5rem;
  color: var(--su-black);
}

.ggeWidget .ggeQuestion input[type="email"],
.ggeWidget .ggeQuestion input[type="number"],
.ggeWidget .ggeQuestion input[type="text"],
.ggeWidget .ggeQuestion select,
.ggeWidget .ggeQuestion textarea {
  background: var(--su-white);
  padding-left: 21px;
  border: 1px solid var(--su-black-20);
  border-bottom: 2px solid var(--su-black-20);
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 2.1rem;
  font-family: 'Source Sans Pro', sans-serif;
  height: 6.4rem;
}

.ggeWidget .ggeQuestion--required .ggeAddress__street2 input[type="email"],
.ggeWidget .ggeQuestion--required .ggeAddress__street2 input[type="number"],
.ggeWidget .ggeQuestion--required .ggeAddress__street2 input[type="text"] {
  border: 1px solid var(--su-black-50);
  border-bottom: 2px solid var(--su-black-50);
}

.ggeWidget .ggeQuestion input[type="email"],
.ggeWidget .ggeQuestion input[type="number"],
.ggeWidget .ggeQuestion input[type="text"],
.ggeWidget .ggeQuestion textarea {
  padding: 20px 21px;
}

.ggeWidget .ggeQuestion input[type="email"]:focus,
.ggeWidget .ggeQuestion input[type="number"]:focus,
.ggeWidget .ggeQuestion input[type="text"]:focus,
.ggeWidget .ggeQuestion textarea:focus {
  background: var(--su-white);
  box-shadow: 0 0 3px var(--su-black-70), 0 0 7px var(--su-black-70);
}

.ggeWidget .ggeQuestion input[type="email"][readonly],
.ggeWidget .ggeQuestion input[type="number"][readonly],
.ggeWidget .ggeQuestion input[type="text"][readonly] {
  padding: 0;
  border: none;
  font-size: 24px;
  background: transparent !important;
}

.ggeWidget .ggeQuestion input[type="email"][readonly]:focus,
.ggeWidget .ggeQuestion input[type="number"][readonly]:focus,
.ggeWidget .ggeQuestion input[type="text"][readonly]:focus,
.ggeWidget .ggeQuestion input[type="email"][readonly]:hover,
.ggeWidget .ggeQuestion input[type="number"][readonly]:hover,
.ggeWidget .ggeQuestion input[type="text"][readonly]:hover {
  box-shadow: none;
  margin: 0;
}

.ggeWidget .ggeQuestion .ggeQuestion__field textarea {
  min-height: 138px;
}

.ggeWidget .ggeQuestion.su-email .ggeQuestion__field textarea {
  min-height: 2.8rem;
  overflow: hidden;
  height: 6.4rem;
}

.ggeWidget .ggeQuestion--error,
.ggeWidget .ggeQuestion__error,
.ggeWidget .ggePageNav--formError {
  background: transparent;
  color: var(--su-digital-red-xlight);
}

.ggeWidget .ggeQuestion .ggeQuestion__field select {
  background-position: right 22px center;
  background-image: url("./assets/arrow-down.svg");
  background-size: 21px;
  color: var(--su-black);
  line-height: 2.4rem;
  background-repeat: no-repeat;
}

.ggeWidget .ggeQuestion.ggeQuestion--error input[type="email"],
.ggeWidget .ggeQuestion.ggeQuestion--error input[type="number"],
.ggeWidget .ggeQuestion.ggeQuestion--error input[type="text"],
.ggeWidget .ggeQuestion.ggeQuestion--error select,
.ggeWidget .ggeQuestion.ggeQuestion--error textarea {
  border: 1px solid var(--su-digital-red-xlight);
}

.ggeWidget .ggeQuestion textarea {
  padding-right: 25px;
}

.ggeWidget .ggePageNav {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.ggePageSet .ggeHidden ~ .ggePage .ggePageNav {
  justify-content: center;
  align-items: end;
}

.ggeWidget .ggePageNav--back {
  position: static;
  transform: translateY(0px);
  margin-right: 2rem;
}

.gg-form-autocomplete .ggeButton,
.ggeWidget .ggeButton {
  display: flex;
  width: fit-content;
  text-decoration: none;
  font-size: 23px;
  text-transform: none;
  padding: 1.4rem 2.6rem;
  font-weight: 400;
  line-height: 2em;
}

/* Solid Button */
.gg-form-autocomplete .ggeButton--forward,
.ggeWidget .ggeButton--forward {
  align-items: center;
  background: var(--su-digital-red);
  border: 2px solid var(--su-digital-red);
  border-radius: unset;
  color: var(--su-white);
  position: static;
  position: relative;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  padding-left: 3rem;
  margin-top: 3.6rem;
}

.gg-form-autocomplete .ggeButton {
  margin-top: 5.8rem;
}

.gg-form-autocomplete .ggeButton--forward:focus,
.gg-form-autocomplete .ggeButton--forward:hover,
.ggeWidget .ggeButton--forward:focus,
.ggeWidget .ggeButton--forward:hover {
  align-items: center;
  background: var(--su-digital-red);
  border: 2px solid var(--su-digital-red);
  border-radius: unset;
  color: var(--su-white);
  text-decoration: underline;
}

/* Secondary Button */
.ggeWidget .ggeButton--back {
  align-items: center;
  background: transparent;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to right top,
    var(--su-palo-verde-dark),
    var(--su-electric-blue)
  );
  border-style: solid;
  border-width: 2px;
  border-radius: unset;
  color: var(--su-electric-blue);
  position: static;
  padding-right: 3rem;
  position: relative;
  position: static;
  transform: translateX(0px);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  margin-top: 3.6rem;
}

.ggeWidget .ggeButton--back:focus,
.ggeWidget .ggeButton--back:hover {
  align-items: center;
  background-image: linear-gradient(
    to right top,
    rgb(1, 126, 124),
    rgb(80, 94, 236)
  );
  color: var(--su-white);
  text-decoration: underline;
}

/* Button Action Icon */
.gg-form-autocomplete .ggeButton--forward:after,
.ggeWidget .ggeButton--forward::after,
.ggeWidget .ggeButton--back::before {
  width: 1em;
  height: 1em;
  content: "";
  display: inline-block;
  mask: url("./assets/arrow-right.svg");
  -webkit-mask: url("./assets/arrow-right.svg") no-repeat 50% 50%;
  mask-size: cover;
  -webkit-mask-size: cover;
}

.gg-form-autocomplete .ggeButton--forward:after,
.ggeWidget .ggeButton--forward::after {
  background: var(--su-white);
  margin-left: 8px;
}

.ggeWidget .ggeButton--back::before {
  background: var(--su-electric-blue);
  transform: rotate(180deg);
  margin-right: 8px;
}

.ggeWidget .ggeButton--back:focus::before,
.ggeWidget .ggeButton--back:hover::before {
  background: var(--su-white);
}

/* Tally Table */
.ggeWidget .ggeTally--total {
  border-top: 1px solid var(--su-black-30);
}

.ggeWidget .ggePrompt {
  display: flex;
  align-items: center;
  margin-top: 1.1rem;
  margin-bottom: 2.6rem;
}

.ggeWidget .ggePrompt:last-child {
  margin-bottom: 0;
}

/* Label */
.ggeWidget .ggePrompt label {
  padding: 0;
  width: auto;
  margin-top: 0;
}

.ggeWidget .ggeQuestion label,
.ggeWidget .ggeQuestion legend,
.ggeWidget .ggeQuestion__field label,
.ggeWidget .ggeQuestion__field legend,
.ggeWidget .ggeQuestion--required .ggePrompt .ggePrompt__label label {
  font-weight: 400;
  font-size: 2.1rem;
}

.ggeWidget .ggeQuestion--instructions #Pre-TripExtensionQuestion,
.ggeWidget .ggeQuestion--instructions #Post-TripExtensionQuestion,
.ggeWidget .ggeQuestion--required label,
.ggeWidget .ggeQuestion--required legend {
  font-weight: 600;
  font-size: 2.1rem;
}

/* Caption and Error message */
.ggeWidget .ggeQuestion__caption,
.ggeWidget .ggeQuestion__error {
  font-size: 1.8rem;
}

.ggeWidget .ggePrompt .ggeQuestion__caption,
.ggeWidget .ggePrompt .ggeQuestion__error {
  margin: 11px 0 0;
}

/* Radio */
[type="checkbox"],
[type="radio"] {
  clip: unset;
  -webkit-clip-path: inset(100%);
  clip-path: unset;
  height: inherit;
  overflow: hidden;
  padding: 0;
  position: unset;
  white-space: nowrap;
  width: inherit;
}

[type="radio"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.ggeWidget .ggePrompt .ggePrompt__radio {
  margin-right: 1.2rem;
  position: relative;
  display: block;
}

.ggePrompt__radio:focus::before
.ggePrompt__radio:hover::before {
  content: "";
  position: absolute;
  inset: -0.6rem;
  border-radius: 100%;
  background: var(--su-electric-blue-light);
  opacity: 0.6;
}

.ggePrompt--checked .ggePrompt__radio:focus::before
.ggePrompt--checked .ggePrompt__radio:hover::before {
  background: linear-gradient(222.67deg, var(--su-electric-blue) 15.6%, var(--su-palo-verde-dark) 84.05%);
  opacity: .4;
}

.ggeWidget .ggePrompt .ggePrompt__radio input {
  background: var(--su-electric-blue) border-box;
  border: 2px solid transparent;
  border-radius: 50%;
  -webkit-mask: linear-gradient(var(--su-white) 0 0) padding-box,
    linear-gradient(var(--su-white) 0 0);
  -webkit-mask-composite: xor;
  -webkit-mask-composite: exclude;
  display: flex;
  height: 2.4rem;
  margin: 0;
  width: 2.4rem;
}

.ggeWidget .ggePrompt.ggePrompt--checked .ggePrompt__radio input {
  background: linear-gradient(
      222.67deg,
      var(--su-electric-blue) 15.6%,
      var(--su-palo-verde-dark) 84.05%
    )
    border-box;
  border: 2px solid transparent;
  border-radius: 50%;
  -webkit-mask: linear-gradient(var(--su-white) 0 0) padding-box,
    linear-gradient(var(--su-white) 0 0);
  -webkit-mask-composite: xor;
  -webkit-mask-composite: exclude;
  display: flex;
  height: 2.4rem;
  margin: 0;
  width: 2.4rem;
}

.ggeWidget .ggePrompt--checked .ggePrompt__radio:after {
  background: linear-gradient(
    222.67deg,
    var(--su-electric-blue) 15.6%,
    var(--su-palo-verde-dark) 84.05%
  );
  border-radius: 50%;
  content: "";
  display: flex;
  height: 1.2rem;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 1.2rem;
  transform: translate(-50%, -50%);
}

/* Phone and Email text */
.ggeWidget .ggeContent .ggeQuestion.su-phone,
.ggeWidget .ggeContent .ggeQuestion.su-email {
  margin-bottom: 2.6rem;
}

/* Thank you message */
.ggeConfirmation {
  text-align: center;
  background-image: url("data:image/svg+xml,%3Csvg width='83' height='82' viewBox='0 0 83 82' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29 41L37.3333 49.3333L54 32.6667M79 41C79 61.7107 62.2107 78.5 41.5 78.5C20.7893 78.5 4 61.7107 4 41C4 20.2893 20.7893 3.5 41.5 3.5C62.2107 3.5 79 20.2893 79 41Z' stroke='url(%23paint0_linear_8432_1220)' stroke-width='7' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_8432_1220' x1='68.1667' y1='16' x2='19' y2='69.3333' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23505EEC'/%3E%3Cstop offset='1' stop-color='%23017E7C'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 75px 75px;
  background-position: center 0;
}

.ggeConfirmation .ggeConfirmationCode,
.ggeConfirmation .ggeConfirmationCharge {
  display: none;
}

.ggeConfirmation .ggeConfirmationMessage {
  font-size: 2.5rem;
}

.ggeConfirmation .ggeConfirmationMessage > div:first-child {
  padding-bottom: 2.6rem;
}

.ggeConfirmation .ggeConfirmationMessage p:last-child {
  margin-bottom: 0;
}

.ggeConfirmation .ggeConfirmationMessage p {
  line-height: 1.5;
}

.ggeConfirmation h1 {
  font-size: 3rem;
  font-weight: 600;
  padding-top: 9.3rem;
  margin-bottom: 3rem;
  margin-top: 0;
}

.ggeConfirmation .ggeTally--header {
  color: var(--su-black);
  padding: 0 0 3.2rem;
  border: none;
}

.ggeConfirmation .ggeTallyTable thead + tbody {
  border: none;
}

.ggeConfirmation .ggeTally {
  text-align: left;
  margin-bottom: 0;
}

.ggeConfirmation .ggeConfirmationMessage > .ggeTally ~ div {
  padding: 0;
}

/* Tally Table */
.ggeTally {
  border: 0 solid;
  border-color: transparent;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    0deg,
    var(--su-palo-verde-dark) 84.05%,
    var(--su-electric-blue) 0
  );
  border-width: 2px;
  margin-bottom: 7.2rem;
  padding: 2.6rem 2.6rem 4.5rem;
}

.ggeTally table {
  margin: 0;
}

.ggeTally tr {
  border: none;
}

.ggeTally .ggeTally--money:last-child {
  padding: 0;
  border-bottom: unset;
}

.ggeTally .ggeTally--total {
  padding-top: 12px;
  padding-bottom: 0;
}

.ggeTally .ggeTally--money {
  width: 25%;
}

/* Registration  */
.ggeRegistrantList,
.ggeWidget .ggeRegistrant--prefilled .ggeSection--askArray.ggeSection--registration,
.ggePage--payment .ggePageNav--back {
  display: none;
}

.ggeWidget #AddatravelerHeader {
  margin-bottom: 4.5rem;
}

.ggeWidget.ggeWidget--highlightIncomplete .ggeRegistrant--prefilled .ggeQuestion--incomplete {
  background: transparent;
}

.ggeWidget .ggeQuestion.ggeQuestion--error .ggeQuestion__field select {
  color: var(--su-digital-red-xlight)
}

.ggeWidget.staff-registration .ggeContent .ggeQuestion.su-email,
.ggeWidget.staff-hold-trip-registration .ggeContent .ggeQuestion.su-email {
  margin-bottom: 0;
}

.ggeWidget.staff-registration .ggeContent #Gift-EmailInstructions,
.ggeWidget.staff-hold-trip-registration .ggeContent #Gift-EmailInstructions {
  margin-bottom: 4.5rem;
}

.ggeWidget.staff-registration .ggeContent #Gift-EmailInstructions .ggeQuestion__label,
.ggeWidget.staff-hold-trip-registration .ggeContent #Gift-EmailInstructions .ggeQuestion__label {
  padding: 0;
}

/* Reg Email Error */
.ggeWidget .su-email.ggeQuestion--error .ggeQuestion__field {
  display: flex;
  flex-direction: column;
}

.ggeWidget .su-email.ggeQuestion--error .ggeQuestion__field [id*='ggeQuestion__caption'] {
  order: 1;
  color: var(--su-black);
}

.ggeWidget .su-email.ggeQuestion--error .ggeQuestion__field textarea {
  order: 2;
}

.ggeWidget .su-email.ggeQuestion--error .ggeQuestion__field [id*='ggeQuestion__error'] {
  order: 3;
}

/* Email Other Type */
.ggeWidget .ggeQuestion [id*='EmailType'] .ggePrompt__label label {
  text-transform: capitalize;
}

.ggeWidget .ggeButton.ggeButton--discardRegistrant {
  background: transparent;
  color: var(--su-black);
  border: none;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.07784 7.75026L13.916 2.95543C14.384 2.49176 14.3873 1.73776 13.9236 1.26976C13.4599 0.801762 12.7059 0.799596 12.2379 1.26218L7.38459 6.07218L2.53234 1.26218C2.06543 0.799596 1.31034 0.803929 0.846678 1.27085C0.383012 1.73776 0.386262 2.49176 0.854262 2.95543L5.69134 7.75026L0.853178 12.5451C0.385178 13.0088 0.381928 13.7628 0.845595 14.2308C1.07851 14.4658 1.38509 14.5828 1.69168 14.5828C1.99501 14.5828 2.29834 14.4691 2.53018 14.2383L7.38459 9.42835L12.2368 14.2383C12.4698 14.4691 12.772 14.5828 13.0753 14.5828C13.3819 14.5828 13.6885 14.4658 13.9214 14.2308C14.3851 13.7628 14.3818 13.0088 13.9138 12.5451L9.07784 7.75026Z' fill='%23505EEC'/%3E%3C/svg%3E%0A");
  background-position: right center;
  padding: 0;
  padding-right: 2.6rem;
}

.ggeWidget .ggeButton.ggeButton--discardRegistrant:hover,
.ggeWidget .ggeButton.ggeButton--discardRegistrant:focus {
  text-decoration: underline;
  box-shadow: none;
}

.ggeWidget .ggeButton.ggeButton--tallyEditRegistrant {
  margin-top: 0;
  padding: 0;
  font-size: 2.1rem;
  font-weight: 600;
  color: var(--su-black);
  border: none;
}

.ggeWidget .ggeButton.ggeButton--tallyEditRegistrant::after {
  content: "Edit";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' viewBox='0 0 13 13' fill='none'%3E%3Cpath d='M11.6673 1.33265L12.1976 0.802316V0.802316L11.6673 1.33265ZM3.0625 12.1472L3.0625 12.8972C3.26141 12.8972 3.45218 12.8182 3.59283 12.6775L3.0625 12.1472ZM0.875 12.1472H0.125C0.125 12.5614 0.460786 12.8972 0.875 12.8972L0.875 12.1472ZM0.875 9.91526L0.34467 9.38493C0.204018 9.52558 0.125 9.71634 0.125 9.91526H0.875ZM9.98794 1.86298C10.3052 1.54567 10.8197 1.54567 11.137 1.86298L12.1976 0.802316C11.2946 -0.100772 9.83037 -0.100772 8.92728 0.802316L9.98794 1.86298ZM11.137 1.86298C11.4543 2.18028 11.4543 2.69472 11.137 3.01202L12.1976 4.07268C13.1007 3.1696 13.1007 1.7054 12.1976 0.802316L11.137 1.86298ZM11.137 3.01202L2.53217 11.6168L3.59283 12.6775L12.1976 4.07268L11.137 3.01202ZM3.0625 11.3972H0.875L0.875 12.8972H3.0625L3.0625 11.3972ZM8.92728 0.802316L0.34467 9.38493L1.40533 10.4456L9.98794 1.86298L8.92728 0.802316ZM0.125 9.91526L0.125 12.1472H1.625L1.625 9.91526H0.125ZM7.98978 2.80048L10.1995 5.01018L11.2601 3.94952L9.05044 1.73982L7.98978 2.80048Z' fill='%23505EEC'/%3E%3C/svg%3E");
  background-position: left 15px center;
  background-repeat: no-repeat;
  border-left: 1px solid var(--su-black-30);
  margin-left: 1rem;
  padding-left: 3.8rem;
  font-size: 1.8rem;
  color: var(--black);
  background-color: transparent;
}

.ggeWidget .ggeTally__multireg__buttons {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}

.ggeWidget .ggeTally__multireg__button.ggeTally__multireg__button--delete {
  position: relative;
  height: 30px;
}

.ggeWidget .ggeButton.ggeButton--tallyDeleteRegistrant {
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.64321 6.88535L13.5183 2.05397C13.9898 1.58677 13.9931 0.827025 13.5259 0.355458C13.0587 -0.116108 12.2989 -0.118291 11.8274 0.347817L6.93706 5.19447L2.04783 0.347817C1.57736 -0.118291 0.816521 -0.113925 0.34932 0.35655C-0.11788 0.827025 -0.114605 1.58677 0.356961 2.05397L5.23091 6.88535L0.35587 11.7167C-0.115697 12.1839 -0.118971 12.9437 0.348229 13.4152C0.582921 13.6521 0.89184 13.77 1.20076 13.77C1.5064 13.77 1.81205 13.6554 2.04565 13.4229L6.93706 8.57622L11.8263 13.4229C12.061 13.6554 12.3655 13.77 12.6712 13.77C12.9801 13.77 13.289 13.6521 13.5237 13.4152C13.9909 12.9437 13.9876 12.1839 13.5161 11.7167L8.64321 6.88535Z' fill='%23F83535'/%3E%3C/svg%3E");
  background-position: left center;
  font-size: 1.8rem;
  margin-top: 0;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  padding-left: 1.6rem;
  color: transparent;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  align-items: center;
}

.ggeWidget .ggeButton.ggeButton--tallyDeleteRegistrant:focus,
.ggeWidget .ggeButton.ggeButton--tallyDeleteRegistrant:hover {
  box-shadow: none;
}

.ggeWidget .ggeButton.ggeButton--tallyDeleteRegistrant:focus::after,
.ggeWidget .ggeButton.ggeButton--tallyDeleteRegistrant:hover::after {
  text-decoration-line: underline;
  color: var(--su-black);
  box-shadow: none;
}

.ggeWidget .ggeButton.ggeButton--tallyEditRegistrant:focus,
.ggeWidget .ggeButton.ggeButton--tallyEditRegistrant:hover {
  text-decoration-line: none;
  background-color: transparent;
  box-shadow: none;
}

.ggeWidget .ggeButton.ggeButton--tallyDeleteRegistrant::after {
  content: "Remove";
  color: var(--su-black);
  background-color: transparent;
}

.ggeWidget .ggeButton.ggeButton--tallyEditRegistrant:focus::after,
.ggeWidget .ggeButton.ggeButton--tallyEditRegistrant:hover::after {
  text-decoration-line: underline;
  box-shadow: none;
}
}

.ggeWidget .ggeTally--text {
  font-size: 1.9rem;
}

.ggeWidget .ggeTally--money {
  font-size: 2.1rem;
}

.ggeWidget td.ggeTally--text,
.ggeWidget td.ggeTally--money:not(.ggeTally--total) {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid var(--su-black);
}

.ggeWidget .ggeTally--total {
  padding-top: 3rem;
  font-weight: 600;
  font-size: 2.6rem;
}

.ggeWidget .ggeTally--terms {
  padding-top: 1.4rem
}

.ggeWidget .ggeButton--addRegistrant {
  background: transparent;
  color: var(--su-black);
  font-size: 2.1rem;
  border: none;
  padding: 0;
  padding-left: 2.7rem;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='20' viewBox='0 0 21 20' fill='none'%3E%3Cpath d='M10.5 7V10M10.5 10V13M10.5 10H13.5M10.5 10H7.5M19.5 10C19.5 14.9706 15.4706 19 10.5 19C5.52944 19 1.5 14.9706 1.5 10C1.5 5.02944 5.52944 1 10.5 1C15.4706 1 19.5 5.02944 19.5 10Z' stroke='%23F83535' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  box-shadow: none;
  margin-top: 4.8rem;
  margin-bottom: 2rem;
}

.ggeWidget .ggeButton--addRegistrant:hover,
.ggeWidget .ggeButton--addRegistrant:focus {
  text-decoration: underline;
}

/* Hold Trip Payment Header */
.staff-hold-trip-registration .ggeSection--payment h1 {
  display: none;
}

.staff-hold-trip-registration .ggeTally {
  margin-bottom: 2.2rem;
}

.staff-hold-trip-registration .ggeConfirmationMessage .ggeTally {
  display: none;
}

/* User Fetch Error */
.gg-user-error p {
  margin-bottom: 0;
  font-weight: 600;
}

/* Form Loader */
.gg-loader-wrapper {
  display: flex;
  flex-direction: row;
}

.gg-loader-wrapper p {
  margin: 0;
  margin-left: 1rem;
}

.gg-loader {
  width: 50px;
  height: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side, var(--su-digital-blue) 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%, var(--su-digital-blue));
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation: s3 1s infinite linear;
}

@keyframes s3{ 
  100%{transform: rotate(1turn)}
}