name: Run Eslint
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set the correct Node version using nvm
        shell: bash -l {0}
        run: nvm install
      - name: Install modules
        run: npm install
      - name: Run ESLint
        run: npm run lint
